{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
      <a type="button" class="btn btn-md btn-success mb-1">{{ button_label|default('') }}<i class="bi bi-file-earmark-check"></i></a>
    </div>
{{ form_end(form) }}
