{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<div class="container mt-5">
    {{dump(book.emprunts)}}
    {% for emrpunt in emprunts %}
    
    {% endfor %}
</div>
{% endblock %}
